<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDesignRequiresCompatibility</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/Xpycode/NetworkQuality/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>PXo4Iq4QsrRXn+oC/qAJfMI2pEb4zBla00N0s3GYkng=</string>
</dict>
</plist>
